<%= form_for @course do |f| %>
  <% if @course.errors.any? %>
    <div id = "error_explanation">

      <h2>The following <%= pluralize(@course.errors.count, "error")%> prevented this course from being saved.</h2>
      <ul>
        <% @course.errors.full_messages.each do |error| %>
          <li>
              <%= error %>
          </li>
        <%end%>
      </ul> 
    </div>
  <%end%>


  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
    
  <%= f.submit %>

<% end %>